.dataGrid {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 0.75rem;
        width: 90vw;
    }
}
.image_text__container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background-color: transparent;
    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}
