.home {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.recommended_artists {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}