
// fun to customize, guaranteed. act now.
$size: 300px; // project size
$max-w: 10em; // biggest wave
$min-w: 0.25em; // smallest wave
$r: $max-w - $min-w; // width range
$wave-speed: 1500ms; // wave speed
$number-of-waves: 20; // number of waves
$wave-width: 0.1em; // wave width
$wave-color: #6FFFE9; // wave color
$wave-color2: #00BFBC; // wave color

.loading_container {
    display: flex;
    flex-direction: column;
}

.waves_container {
    position: relative;
    width: $max-w;
    height: $max-w / 2;
    font-size: ($size / ($max-w / 1em));
    overflow: hidden;
}

.wave {
    border-width: $wave-width;
    border-style: solid;
    position: absolute;
    animation: wave $wave-speed infinite alternate;
    transform: rotate(-44.5deg);
    $a: 1; // alpha
    @for $i from 1 through $number-of-waves {
        &:nth-child(#{$i}) {
            $w: $max-w - (($r/$number-of-waves) * $i);
            @if $i > 1 {
                $a: 1 - ((1 / ($number-of-waves + 1)) * $i);
            }
            width: $w;
            height: $w;
            bottom: $w/-2;
            left: ($max-w - $w) / 2;
            animation-delay: $i * ($wave-speed / $number-of-waves);
            border-color: transparent transparent rgba($wave-color, $a) rgba($wave-color, $a);
            border-radius: $w;
        }
    }
}
.text {
    font-weight: 100;
    color: #f7f7f7;
    font-family: "Poppins", sans-serif;
}

@keyframes wave {
    to {
        transform: rotate(135deg);
    }
}

.loader {
    --s: 40px; /* control the size */
    --b: 18px; /* control the border thickness */
  
    width: calc(8 * var(--s));
    aspect-ratio: 4;
    display: grid;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: linear-gradient($wave-color 50%, $wave-color2 0) no-repeat,
      linear-gradient($wave-color2 50%, $wave-color 0) no-repeat;
    background-size: 50% 200%;
    --_g: calc(-0.45 * var(--s)), #0000 calc(99% - var(--b)),
      #000 calc(101% - var(--b)) 99%, #0000 101%;
    --_s: calc(4 * var(--s)) var(--s) repeat-x;
    --_r: calc(1.096 * var(--s) + var(--b) / 2);
    -webkit-mask: radial-gradient(var(--_r) at left 50% bottom var(--_g))
        calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2) / var(--_s),
      radial-gradient(var(--_r) at left 50% top var(--_g)) 50%
        calc(50% + var(--s) / 2) / var(--_s);
    animation: back 6s infinite steps(1), load 1.5s infinite linear alternate;
  }
  .loader::after {
    transform: scaleY(-1);
    animation-delay: -1.5s;
  }
  
  @keyframes load {
    0% {
      clip-path: inset(0 75% 0 0);
    }
    to {
      clip-path: inset(0 0 0 75%);
    }
  }
  @keyframes back {
    0%,
    100% {
      background-position: 0% 0%, 100% 0%;
    }
    25% {
      background-position: 0% 100%, 100% 0%;
    }
    50% {
      background-position: 0% 100%, 100% 100%;
    }
    75% {
      background-position: 0% 0%, 100% 100%;
    }
  }