$wave-color: #6FFFE9; // wave color
$wave-color2: #00BFBC; // wave color

.loading {
    &__container {
        display: flex;
        min-height: calc(100vh - 144px);
        width: 100%;
        animation: fade-in 0.3s linear 0.5s forwards;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
}

.spinner {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3.125px solid #aaa;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Dots */
.spinner {
    position: relative;
}
.spinner:before,
.spinner:after {
    content: "";
    position: absolute;
    top: 6.25px;
    left: 21.875px;
    width: 6.25px;
    height: 6.25px;
    border-radius: 50%;
    background: $wave-color;
}
.spinner:after {
    top: auto;
    bottom: 6.25px;
}

.spinner:after {
    display: none;
}

.spinner:before,
.spinner:after {
    top: -6.25px;
}
.spinner:after {
    top: auto;
    bottom: -6.25px;
}

.spinner:after {
    display: none;
}

.spinner:before,
.spinner:after {
    top: -12.5px;
}
.spinner:after {
    top: auto;
    bottom: -12.5px;
}

.spinner:after {
    display: none;
}

/* Waves */
.spinner {
    box-shadow: -1.5625px -1.5625px 0 1.5625px $wave-color;
}

.spinner {
    box-shadow: inset -1.5625px -1.5625px 0 1.5625px $wave-color;
}

.spinner-double-wave-out {
    box-shadow: -1.5625px -1.5625px 0 1.5625px $wave-color, 1.5625px 1.5625px 0 1.5625px $wave-color;
}

.spinner-double-wave-in {
    box-shadow: inset -1.5625px -1.5625px 0 1.5625px $wave-color, inset 1.5625px 1.5625px 0 1.5625px $wave-color;
}

.spinner-huge-wave-out {
    box-shadow: -1.5625px -1.5625px 0 6.25px $wave-color;
}

.spinner-huge-wave-in {
    box-shadow: inset -1.5625px -1.5625px 0 6.25px $wave-color;
}

/* Sections */
.spinner-section-far,
.spinner-double-section-far,
.spinner-section-out,
.spinner-double-section-out,
.spinner-section-in,
.spinner-double-section-in,
.spinner-section,
.spinner-double-section {
    position: relative;
}
.spinner-section-far:before,
.spinner-double-section-far:before,
.spinner-section-out:before,
.spinner-double-section-out:before,
.spinner-section-in:before,
.spinner-double-section-in:before,
.spinner-section:before,
.spinner-section-far:after,
.spinner-double-section-far:after,
.spinner-section-out:after,
.spinner-double-section-out:after,
.spinner-section-in:after,
.spinner-double-section-in:after,
.spinner-section:after,
.spinner-double-section:before,
.spinner-double-section:after {
    content: "";
    position: absolute;
    top: -3.125px;
    left: -3.125px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3.125px solid transparent;
    border-top-color: $wave-color;
}
.spinner-section-far:after,
.spinner-double-section-far:after,
.spinner-section-out:after,
.spinner-double-section-out:after,
.spinner-section-in:after,
.spinner-double-section-in:after,
.spinner-section:after,
.spinner-double-section:after {
    border-top-color: transparent;
    border-bottom-color: $wave-color;
}

.spinner-section:after {
    display: none;
}

.spinner-section-in:before,
.spinner-section-in:after,
.spinner-double-section-in:before,
.spinner-double-section-in:after {
    top: 0;
    left: 0;
    width: 43.75px;
    height: 43.75px;
}

.spinner-section-in:after {
    display: none;
}

.spinner-section-out:before,
.spinner-section-out:after,
.spinner-double-section-out:before,
.spinner-double-section-out:after {
    top: -6.25px;
    left: -6.25px;
    width: 56.25px;
    height: 56.25px;
}

.spinner-section-out:after {
    display: none;
}

.spinner-section-far:before,
.spinner-section-far:after,
.spinner-double-section-far:before,
.spinner-double-section-far:after {
    top: -9.375px;
    left: -9.375px;
    width: 62.5px;
    height: 62.5px;
}

.spinner-section-far:after {
    display: none;
}

span {
    margin: 10px;
}
span:nth-child(4n + 1) {
    clear: both;
}
